:root {
    --color1: #00DD9C;
    --color2: #00E3A5;
    --nav-bg: #09251E;
    --textwhite: #F5FBF2;
    --textgrey: #80AB9E;


}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #0D0D0D;

    font-family: 'Poppins', sans-serif;

    .navhome {
        background-image: url(./components/images/image.png), url(./components/images/image.png);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
       margin: 0;

        .nav-box {

            padding-top: 4rem;
            .navcurve {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                border-radius: 4rem;
                background-color: rgba(9, 37, 30, .3);
                padding: 2rem;
                align-items: center;
                margin: 0rem 3rem;

                .navimg {
                    width: 30%;
                }

                .linkpage {
                    display: flex;

                    a {
                        text-decoration: none;
                        color: var(--textwhite);
                        padding-right: 1.5rem;
                        position: relative;
                    }

                    .activenav {
                        color: var(--color2);
                    }

                    .activenav::before {
                        border-bottom: .1rem solid var(--color2);
                        position: absolute;
                        display: block;
                        content: '';
                        left: 0;
                        right: 50%;
                        bottom: 0;
                    }
                }

                .button {
                    a {
                        text-decoration: none;
                        color: var(--textwhite);
                        padding-right: 1.5rem;
                        border: .1rem solid var(--color2);
                        padding: 1rem 1.3rem;
                    }
                }

            }
        }

        .home {
            margin: 2rem 3rem 0 ;

            .lay {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .texts {
                    h3 {
                        color: var(--textgrey);
                        font-size: 28px;
                    }

                    h1 {
                        color: var(--textwhite);
                    }
                }

                .homeimg {

                    img {
                        height: 30rem;
                    }
                }
            }

            .button {

                a {
                    text-decoration: none;
                    color: black;
                    background-color: var(--color2);
                    padding: 1rem 2rem;
                    box-shadow: -7px 9px 20px #00E3A5;
                    border-radius: 1rem;

                }

                a:hover {
                    padding: .5rem 1rem;
                    box-shadow: -4px 7px 15px #00E3A5;
                    border-radius: .5rem;
                }
            }
        }
    }

    .bid {

        .achievement {
            margin: 5rem 4rem 0;
          .texts{
            color: var(--textwhite);
            display: flex;
            flex-direction: column;
            align-items: center;
           
            .dip{
                color:#80AB9E;
                font-size: 24px;
            }
            .dipper{
                font-size: 32px;
            }
            .foil{
                display: flex;
               
                
                .padarea{
                    padding: 1.2rem;
                    text-align: center;
                    h2{
                       color: var(--color2);
                    }
                }
            }
          }
          .worldimg{

                img{
                    height: 40rem;
                }

          }
        }
    }
    .sponsors{
        margin: 10rem 8rem;
        background-color: #091D18;
        padding: 4rem 5.5rem;
        border-radius: 7rem;
        .elements{
          
            display: flex;
            justify-content: space-around;
            align-items: center;
           
            img{
                text-align: center;
                opacity: 50%;
                height: 1.4rem;
                text-align: center;
            }
        }
        
    }
}